* text=auto eol=lf
pnpm-lock.yaml linguist-generated
MODULE.bazel.lock linguist-generated
tools/bazel/requirements.txt linguist-generated
packages/**/index.ts linguist-generated
packages/js/node/*-rs/src/*bindings*.ts linguist-generated
packages/py/*-rs/src/**/bindings.py linguist-generated
